.carousel-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
  min-height: 300px;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-image {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  height: 300px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-image.active {
  opacity: 1;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.prev-button {
  left: 10px;
  z-index: 1500;
}

.next-button {
  right: 10px;
}
